.box-area
{
    padding:  10% 0;
}

.img-area .single-img
{
    width: 361px;
    height: 350px;
}

.line
{
    box-shadow: 0 2px 20px #000;
    transition: .5s;
    background: linear-gradient(-45deg, transparent 40%, rgb(0,0,0,0.6) 40%,rgb(0,0,0,0.6) 50%, transparent 50%);
    background-color: rgb(255,255,255,0.3);
    background-size: 400% 400%;
    background-position: 90% 90%;
    animation: animate 2s ease infinite;
}

.line .single-img
{
    background-size: auto 100%;
    background-position: center center;
    transition: .2s;
}

.line:hover .single-img
{
    background-size: auto 100%;
}

.img-area:hover .single-img
{
    width: 348px;
}
 
.line:hover
{
    padding: 6px;
}

@keyframes animate
{
    to{
        background-position: 25% 25%;
    }
}